:root {
  --content-width: 50ch;
}

body {
  margin: 0;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  max-width: calc(var(--content-width) - 4rem);
}

.main {
  display: flex;
  justify-content: center;
}

.card {
  width: clamp(20ch, 50%, var(--content-width));
  margin: 2rem;
  border: 0.5rem solid black;
  container-type: inline-size;
}

@container (min-width: 60ch) {
  .card-inner {
    display: flex;
  }

  .card-inner > * {
    max-width: 50%;
  }

  .card img {
    object-fit: cover;
  }
}

.card figcaption {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 2rem;
}

.card h2 {
  margin-block-end: 0;
}

.card button {
  align-self: flex-end;
  padding: 0.75rem 1rem;
  border: 0.25rem solid black;
  font-size: 1rem;
  text-transform: uppercase;
}
