:root {
  --content-width: 50ch;
}

body {
  margin: 0;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  max-width: calc(var(--content-width) - 4rem);
}

.main {

}

.card {

}

.card figcaption {

}

.card h2 {

}

.card button {
  padding: 0.75rem 1rem;
  border: 0.25rem solid black;
  font-size: 1rem;
  text-transform: uppercase;
}
