:root {
  --content-width: 50ch;
}

body {
  padding: 1rem;
}

.header,
.main {
  margin-right: auto;
  margin-left: auto;
  max-width: var(--content-width);
}

blockquote {
  margin: 1rem 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

blockquote p {
  font-style: italic;
}

.author {
  font-size: 70%;
  font-style: normal;
}

@media screen and (min-width: 30em) {
  blockquote {
    width: 50%;
  }

  .pull-start {
    float: left;
    float: inline-start;
    margin-inline-end: 3rem;
  }

  .pull-end {
    float: right;
    float: inline-end;
    margin-inline-start: 3rem;
  }
}
