.wrapper {
  margin: 0 auto;
  width: clamp(calc(320px - 3rem), 75%, 70ch);
  height: calc(75vh - 2.5rem);
  border: 0.5rem solid black;
  /* display: flex; */
  display: grid;
  /* justify-content: center; */
  /* align-items: center; */
}

.child {
  padding: 0 2rem;
  width: 50%;
  border: 0.5rem solid red;
  justify-self: center;
  align-self: center;
}
