.wrapper {
  margin: 0 auto;
  width: clamp(calc(320px - 3rem), 75%, 70ch);
  height: calc(75vh - 2.5rem);
  border: 0.5rem solid black;
}

.menu {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: end;
  gap: 1rem;
  flex-wrap: wrap;
  margin-right: 1rem;
}

.menu a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  
}

.menu a:hover {
  background-color: #1e1e1e;
  color: #fff;
}
